<div class="admin-container">
    <h1>Admin Panel</h1>
    <div *ngIf="!isAdmin">
      <p>Nemate ovlasti za pristup ovoj stranici.</p>
    </div>
    <div *ngIf="isAdmin">
      <h3>Dobrodošli, {{ activeUser?.ime }} {{ activeUser?.prezime }}</h3>
      <p>Ovdje možete upravljati aplikacijom:</p>
      <ul>
        <li><a [routerLink]="'/kategorije'">Kategorije</a></li>
        <li><a [routerLink]="'/usluge'">Usluge</a></li>
        <li><a [routerLink]="'/korisnici'">Korisnici</a></li>
        <li><a [routerLink]="'/instruktori'">Instruktori</a></li>
        <li><a [routerLink]="'/rezervacije'">Rezervacije</a></li>
      </ul>
    </div>
  </div>
  